:root {
    font-family: sans-serif;
    font-size: 16px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #121212;
	color: #f5f5f5;
}

h1 {
	background-color: #424242;
	padding: 0.8em;
	border-radius: 0.5em;

	span {
		font-weight: normal;
		color: #e0e0e0;
		text-transform: uppercase;
	}
}

.content {
	width: 100%;
	margin: auto;

	@media (min-width: 40em) {
		width: 40em;
	}

	@media (min-width: 80em) {
		width: 80em;
	}
}

.directories {
	width: 100%;
	margin-bottom: 1em;

	a {
		display: inline-block;
		margin: 0.3em;
		padding: 0.7em;
		border: 1px solid #f5f5f5;
		background-color: #616161;
		color: #f5f5f5;
		border-radius: 0.5em;
		font-size: 0.7em;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			background-color: #bdbdbd;
			color: #000;
			text-decoration: underline;

			svg {
				color: #000;
			}
		}

		svg {
			color: #f5f5f5;
			margin-right: 0.5em;
			vertical-align: sub;
			&.up {
				margin: 0;
			}
		}
	}
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	align-items: stretch;
	width: 100%;
	margin: auto;

	.galleryItem {
		flex: 1 1 auto;
		margin: 0.3em;
		border: 1px solid #f5f5f5;
		position: relative;
		width: 12em;
		height: 13em;
		overflow: hidden;

		a {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.2s;
		}

		svg {
			color: #f5f5f5;
			width: 7em;
			height: 7em;
			margin-top: 2em;
			transition: 0.2s;
		}

		figcaption {
			font-size: 0.7em;
			background-color: rgba(#000, 0.4);
			color: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1em;
		}

		@media (min-width: 40em) {
			width: 10em;
			height: 10em;

			svg {
				width: 6em;
				height: 6em;
				margin-top: 2em;
			}
		}

		@media (min-width: 80em) {
			width: 17em;
			height: 17em;

			svg {
				width: 9em;
				height: 9em;
				margin-top: 4em;
			}
		}

		&:hover img {
			transform: scale(1.2);
		}

		&:hover svg {
			transform: scale(1.1);
		}
	}
}

.hidden {
	display: none;
}

body.light {
	background-color: #f5f5f5;
	color: #121212;

	h1 {
		background-color: #e0e0e0;

		span {
			color: #616161;
		}
	}

	.directories {
		a {
			border: 1px solid #121212;
			background-color: #9e9e9e;
			color: #121212;
			&:hover {
				background-color: #424242;
				color: #f5f5f5;

				svg {
					color: #f5f5f5
				}
			}

			svg {
				color: #121212;
			}
		}
	}

    .gallery {
        .galleryItem {
            border-color: #121212;

            svg {
                color: #121212;
            }
    	}
	}
}

// GLightBox

@import "../../node_modules/glightbox/dist/css/glightbox";

.sng-button {
	@extend .gclose;

	&.hidden {
		display: none;
	}
}

.glightbox-clean {
	.gcontainer {
		.sng-buttons {
			.sng-button {
				&[data-position="1"] {
					right: 50px;
				}

				&[data-position="2"] {
					right: 90px;
				}

				&[data-position="3"] {
					right: 130px;
				}

				&[data-position="4"] {
					right: 170px;
				}

				&[data-position="5"] {
					right: 210px;
				}

				&[data-position="6"] {
					right: 250px;
				}

				&[data-position="7"] {
					right: 290px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.glightbox-clean {
		.gcontainer {
			.sng-buttons {
				.sng-button {
					&[data-position="1"] {
						right: 60px;
					}

					&[data-position="2"] {
						right: 100px;
					}

					&[data-position="3"] {
						right: 140px;
					}

					&[data-position="4"] {
						right: 180px;
					}

					&[data-position="5"] {
						right: 220px;
					}

					&[data-position="6"] {
						right: 260px;
					}

					&[data-position="7"] {
						right: 300px;
					}
				}
			}
		}
	}
}

// Tippy

@import "../../node_modules/tippy.js/dist/tippy";

// Shareon

@import "../../node_modules/shareon/dist/shareon.min";

// Exif

#sng-exif-box {
	max-height: 300px;
	overflow-y: scroll;

	strong {
		display: block;
		font-size: 14px;
		margin-top: 15px;
		padding: 2px;
	}

	table {
		font-size: 11px;
		th {
			text-align: left;
			vertical-align: top;
			margin: 0;
			padding: 0;
		}
		td {
			vertical-align: top;
			margin: 0;
			padding: 0;
		}
	}
}

// Photo360

@import "../../node_modules/photo-sphere-viewer/dist/photo-sphere-viewer";

#sng-photo360-viewer-box {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999999;
}
